* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
}
.navbar {
	height: 12%;
	display: flex;
	align-items: center;
}
.logo {
	width: 50px;
	cursor: pointer;
}
.menu-icon {
	width: 50px;
	cursor: pointer;
	margin-left: 40px;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
.row {
	display: flex;
	height: 88%;
	align-items: center;
}
.col {
	flex-basis: 50%;
}
h1 {
	color: #fff;
	font-size: 100px;
}
p {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
}
button{
	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}
.card{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover
	transition: transform 0.5s;
}
.card1{
	background-image: url(images/etron.png);
}
.card2{ 
	background-image: url(images/a6.png);
}
.card3{
	background-image: url(images/q3.png);
}
.card4{
	background-image: url(images/r8.png);
}
.card:hover{
	transform: translateY(-10px);
}
h5{
	color: red;
	text-shadow: 0 0 5px #999;
}
.card p{
	color: white;
	text-shadow: 0 0 15px #000;
	font-size: 8px;
}	
.footer {
	background: var(--text-color);
	color: #f6f6f6;
	border-top: 2px solid var(--main-color);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.footer-container .logo {
	color: var(--bg-color);
	margin-bottom: 1rem;
}

.footer-container .footer-box {
	display: flex;
	flex-direction: column;
}

.social {
	display: flex;
	align-items: center;
}

.social a {
	font-size: 24px;
	color: var(--bg-color);
	margin-right: 1rem;
}
.social a:hover {
	color: var(--main-color);
}
.footer-box h3{
	font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 1rem;
}	